.example-card {
  color: white;
  background-color: #6b6b6b;
  min-width: 900px;
  max-width: 900px;
  margin-bottom: 8px;
  margin: 20px;
  clear: both;
  float:left;
  

}

  .forvedette{
    width: 400px;    
  }
