

<div class="forfait"  *ngIf="leforfait">

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title> 

        <div class="forvedette">
          <app-forfait-vedette [vedette]="leforfait.vedette" > </app-forfait-vedette>
        </div>
        
        <app-destination [destination]="leforfait.destination">  </app-destination>
        <app-nom-hotel [nomHotel]="leforfait.hotel.nomHotel"> </app-nom-hotel> 

        <app-prix [prix]="leforfait.prix" [rabais]="leforfait.rabais" > </app-prix>
        
        
       <app-etoiles [etoiles]="leforfait.hotel.etoiles">    </app-etoiles>
        <app-avis [nombreAvis]="leforfait.nombreAvis"> </app-avis>     
        

      </mat-card-title>   

      <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>

    <mat-card-content>
      
      <app-description-voyage [caracteristiques]="leforfait.caracteristiques"> </app-description-voyage>

     
      <app-date-depart [dateDepart]="leforfait.dateDepart" [nbrJours]="leforfait.nbrJours" ></app-date-depart>
      <app-date-retour [dateRetour]="leforfait.dateRetour" ></app-date-retour>
      
      
      
    </mat-card-content>
  </mat-card>
  


</div>