div.prix {
  font-family :"Geneva";  
  color: white;
  float: right;
  text-align: right;
}

div.prix h1{  
  font-weight: 500;
  color: white;
  font-size: 30px;  
}

div.prix h3{  
  font-weight: 500;
  color: white;
  font-size: 15px;  
  text-decoration:line-through;
}

