<div class="miniforfait"  *ngIf="miniforfait">
  

  <app-destination [destination]="miniforfait.destination"  ></app-destination>
  <app-nom-hotel [nomHotel]="miniforfait.hotel.nomHotel"> </app-nom-hotel>

  <app-etoiles [etoiles]="miniforfait.hotel.etoiles">    </app-etoiles> 


  <app-prix [prix]="miniforfait.prix" [rabais]="miniforfait.rabais" > </app-prix>

  <app-ville-depart [villeDepart]="miniforfait.villeDepart"></app-ville-depart> 
  

  <app-date-depart [dateDepart]="miniforfait.dateDepart" [nbrJours]="miniforfait.nbrJours"></app-date-depart>
  
  <div class="vedette">
    <app-forfait-vedette [vedette]="miniforfait.vedette" > </app-forfait-vedette>
  </div>
  

</div>